h1 a {
    color: #CF0000;
    font-family: 'Playfair Display', serif;
}

body {
    padding-left: 26px;
}

.page-header {
    background-color: #CF0000;;
    margin-top: 0;
    margin-left: 350px;
    margin-right: 350px;
    padding: 20px 20px 20px 40px;
}

.list_header {
    font-family: 'Playfair Display', serif;
    color:  #111111;
    font-size: 40pt;
    margin-left: 150px;
}


.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    margin-left: 190px;
}

.content {
    margin-left: 600px;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post_text{
    font-family: 'Comfortaa', cursive;
    color: #6b6500;
    font-size: 13pt;
}


.top-menu, .top-menu:hover, .top-menu:visited {
    color: #CF0000;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 50px;
}

.post h1 a, .post h1 a:visited {
    color: #CF0000;
}